<!doctype html>
<html lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% render 'css-variables' %}

    {{ 'critical.css' | asset_url | stylesheet_tag: preload: true }}
    {{ 'index.css' | asset_url | stylesheet_tag }}

    {% render 'meta-tags' %}

    {{ content_for_header }}

    <title>
      {{ shop.name }}
      — Coming Soon
    </title>
  </head>

  <body
    class="{% if settings.dark_mode %}dark {% endif %}bg-background text-foreground flex min-h-screen flex-col items-center justify-center"
    data-gsap="fade-in"
  >
    {% section 'main-password' %}

    {{ content_for_layout }}

    <script src="{{ 'index.js' | asset_url }}" defer></script>
  </body>
</html>
